.res-block-droppable{

}
.res-block-draggable{
    cursor: move;
    &.drag{
      opacity: 0.5;
    }
    &.over{
      outline: 2px dashed #999;
    }

}
.image-tooltip-wrap{
    overflow: auto;
    max-height: 90%;
    max-width: 80%;
}