<tr class="grid-item" ng-repeat="$item in _list">
    <td class="action-checkbox">
        <input class="action-select" type="checkbox">
    </td>
    <td ng-repeat="_field in _ctx._fields" ng-switch on="_field.type">
        <div ng-switch-when="image">
            <img src="{{$item[_field.key]}}" img-size-alt>
        </div>
        <div ng-switch-default>
            <div class="btn-group pull-right">
                <a model-list-editable data-original-title="输入{{_field.name}}"><i class="fa fa-edit"></i></a>
            </div>
            <a href="" ng-if="_field.linkable">
                <span class="editable-field">{{$item[_field.key]}}</span>
            </a>
            <span class="editable-field" ng-if="!_field.linkable">{{$item[_field.key]}}</span>
        </div>
    </td>
</tr>