<td class="action-checkbox">


    <input class="action-select" name="_selected_action" type="checkbox" value="3">
</td>

<td>
    <img src="http://js.wiyun.com/site_media/images/wallpaper/eac1bce7-90d5-40a7-a7e2-ae02acca2e86_jpg_152x102_crop_upscale_q85.jpg">
</td>

<td>
    <div class="btn-group pull-right">
        <a class="editable-handler" title="" data-editable-field="name" data-editable-loadurl="/host/host/3/patch/?fields=name" data-original-title="输入name"><i class="fa fa-edit"></i></a>
    </div>
    <a href="/host/host/3/update/"><span class="editable-field">test2</span></a>
</td>

<td class="nowrap">

    <div class="btn-group pull-right">

        <a class="editable-handler" title="" data-editable-field="idc" data-editable-loadurl="/host/host/3/patch/?fields=idc" data-original-title="输入idc"><i class="fa fa-edit"></i></a>

        <a data-res-uri="/host/idc/1/detail/" data-edit-uri="/host/idc/1/update/" class="details-handler" rel="tooltip" title="IDC详情"><i class="fa fa-info-sign"></i></a>

    </div>


    <span class="editable-field">IDC</span>

</td>

<td class="nowrap">

    <div class="btn-group pull-right">

        <a class="editable-handler" title="" data-editable-field="guarantee_date" data-editable-loadurl="/host/host/3/patch/?fields=guarantee_date" data-original-title="输入guarantee date"><i class="fa fa-edit"></i></a>

    </div>


    <span class="editable-field">2014-03-04</span>

</td>

<td>

    <div class="btn-group pull-right">

        <a class="editable-handler" title="" data-editable-field="service_type" data-editable-loadurl="/host/host/3/patch/?fields=service_type" data-original-title="输入service type"><i class="fa fa-edit"></i></a>

    </div>


    <span class="editable-field">Database</span>

</td>

<td>


    Down

</td>

<td>


    <a href="http://127.0.0.1" target="_blank">Open</a>

</td>

<td>

    <div class="btn-group pull-right">

        <a class="editable-handler" title="" data-editable-field="description" data-editable-loadurl="/host/host/3/patch/?fields=description" data-original-title="输入description"><i class="fa fa-edit"></i></a>

    </div>


    <span class="editable-field">aa</span>

</td>

<td>


    <div class="dropdown related_menu pull-right"><a title="关联数据" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-list"></i></a><ul class="dropdown-menu" role="menu"><li class="with_menu_btn"><a href="/host/maintainlog/?_rel_host__id__exact=3" title="Maintain Log"><i class="icon fa fa-th-list"></i> Maintain Log</a><a class="add_link dropdown-menu-btn" href="/host/maintainlog/add/?_rel_host__id__exact=3"><i class="icon fa fa-plus pull-right"></i></a></li><li class="with_menu_btn"><a href="/host/hostgroup/?_rel_hosts__id__exact=3" title="Host Group"><i class="icon fa fa-th-list"></i> Host Group</a><a class="add_link dropdown-menu-btn" href="/host/hostgroup/add/?_rel_hosts__id__exact=3"><i class="icon fa fa-plus pull-right"></i></a></li></ul></div>

</td>