<li class="dropdown bookmarks">
  <a id="drop-bookmark" title="书签" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-book"></i> 书签<span class="caret"></span></a>
  <ul id="bookmark-menu" class="dropdown-menu" role="menu">


    <li class="">
      <a href="/host/host/?_cols=brand.guarantee_date.service_type&amp;_p_status__exact=2&amp;o=-guarantee_date" title="Need Guarantee"><i class="fa fa-bookmark"></i> Need Guarantee</a>

    </li>

    <li class="with_menu_btn">
      <a href="/host/host/?_cols=brand.guarantee_date.service_type&amp;o=-guarantee_date" title="ss"><i class="fa fa-bookmark"></i> ss</a>

        <a href="/xadmin/bookmark/7/update/" class="dropdown-menu-btn"><i class="fa fa-pencil"></i></a>

    </li>

    <li class="with_menu_btn">
      <a href="/host/host/?_cols=brand.guarantee_date.service_type&amp;_p_guarantee_date__day=788&amp;o=-guarantee_date" title="Feel"><i class="fa fa-bookmark"></i> Feel</a>

        <a href="/xadmin/bookmark/11/update/" class="dropdown-menu-btn"><i class="fa fa-pencil"></i></a>

    </li>
  </ul>
</li>