<tr>
  <th scope="col" class="action-checkbox-column">


      <input type="checkbox" id="action-toggle">

  </th>
  <th scope="col">


      TImg

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          name
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=name" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-name" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          idc
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=idc" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-idc" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          guarantee date
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=guarantee_date" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-guarantee_date" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          service type
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=service_type" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-service_type" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          status
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=status" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-status" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col">


      Acts

  </th>
  <th scope="col" class="sortable">


      <div class="dropdown pull-left">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          description
        </a>
        <ul class="dropdown-menu" role="menu">

            <li><a href="?_layout=table&amp;o=description" class="active"><i class="fa fa-caret-up"></i> 正序</a></li>

            <li><a href="?_layout=table&amp;o=-description" class="active"><i class="fa fa-caret-down"></i> 倒序</a></li>

        </ul>
      </div>

  </th>
  <th scope="col">


      &nbsp;

  </th>
</tr>