<div class="btn-group">
    <div class="btn-group grid-layout">
      <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
        <i class="fa fa-table"></i> 布局 <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="?_layout=thumbnails"><i class="fa fa-th-large"></i> 图标</a></li>
          <li class="active"><a href="?_layout=table"><i class="fa fa-table"></i> 表格</a></li>
      </ul>
    </div>
    <div class="btn-group layout-btns" data-toggle="buttons">
      <label class="btn btn-default btn-sm layout-normal active">
        <input type="radio"> <i class="fa fa-th-large"></i>
      </label>
      <label class="btn btn-default btn-sm layout-condensed">
        <input type="radio"> <i class="fa fa-th"></i>
      </label>
    </div>
    <!-- 全屏 etc -->
    <div class="btn-group layout-btns">
      <button type="button" class="btn btn-default btn-sm layout-full"><i class="fa fa-expand"></i></button>
    </div>
</div>