<li class="dropdown">
  <a id="drop-filter" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-filter"></i> 过滤器
  <span class="caret"></span></a>
  <ul id="filter-menu" class="dropdown-menu" role="menu" aria-labelledby="drop-filter">
    <li class="dropdown-submenu"
      ng-repeat="$field in _fields"
      class="filter-{{$field.type}}"
      ng-switch on="$field.type"
      ng-class="{'filter-multiselect': $field.type === 'multiselect'}">
      <a><i class="fa fa-filter text-muted"></i> {{$field.name}}</a>
      <div class="popover right" ng-switch-when="number">
        <div class="arrow"></div>
        <h3 class="popover-title">
          搜索 {{$field.name}}
        </h3>
        <div class="popover-content">
          <form method="get" action="">
            <input type="hidden" name="_layout" value="table"/>
              <div class="input-group">
                <span class="input-group-addon">=</span>
                <span class="input-group-btn">
                  <a class="btn btn-default toggle" data-toggle="button" data-off-name="_p_hard_disk__exact" data-on-name="_p_hard_disk__ne">!</a>
                </span>
                <input name="_p_hard_disk__exact" class="form-control" type="number" value="" placeholder="输入数字"/>
                <span class="input-group-btn"><a class="btn btn-default remove">x</a></span>
              </div>
              <div class="input-group">
                <span class="input-group-addon">></span>
                <span class="input-group-btn">
                  <a class="btn btn-default toggle" data-toggle="button" data-off-name="_p_hard_disk__gt" data-on-name="_p_hard_disk__gte">=</a>
                </span>
                <input name="_p_hard_disk__gt" class="form-control" type="number" value="" placeholder="输入数字"/>
                <span class="input-group-btn"><a class="btn btn-default remove">x</a></span>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><</span>
                <span class="input-group-btn">
                  <a class="btn btn-default toggle" data-toggle="button" data-off-name="_p_hard_disk__lt" data-on-name="_p_hard_disk__lte">=</a>
                </span>
                <input name="_p_hard_disk__lt" class="form-control" type="number" value="" placeholder="输入数字"/>
                <span class="input-group-btn"><a class="btn btn-default remove">x</a></span>
              </div>
              <button type="submit" class="btn btn-success">应用</button>
          </form>
        </div>
      </div>
      <div class="popover right" ng-switch-when="char">
        <div class="arrow"></div>
        <h3 class="popover-title">搜索 {{$field.name}}</h3>
        <div class="popover-content">
          <form method="get" action="">
            <input type="hidden" name="_layout" value="table"/>
            <div class="input-group">
              <input name="_p_model__contains" class="input-char form-control" type="text" value="" placeholder="输入 {{$field.name}}…"/>
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="fa fa-search fa fa-white"></i></button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <ul class="dropdown-menu" ng-switch-when="enumerator">
        <li class="active"><a href="?_p_status__exact=3&amp;_layout=table">全部</a></li>
        <li><a href="?_p_status__exact=3&amp;_layout=table" ng-repeat="$choice in $field.choices">{{$choice.val}}</a></li>
      </ul>
      <ul class="dropdown-menu" ng-switch-when="date">
        <li class="active"><a href="?">Any date</a></li>
        <li><a href="#">Today</a></li>
        <li><a href="?_p_guarantee_date__gte=2014-03-21&amp;_p_guarantee_date__lt=2014-03-29">Past 7 days</a></li>
        <li><a href="#">This month</a></li>
        <li><a href="#">This year</a></li>
        <li class="dropdown-submenu menu-choice-date">
          <a>选择日期</a>
          <div class="popover right">
            <div class="arrow"></div>
            <h3 class="popover-title">选择日期</h3>
            <div class="popover-content">
              <form method="get" action="" class="form-inline">
                <input type="hidden" name="_layout" value="table"/>
                <div class="input-group">
                <span class="input-group-addon">年</span>
                <input name="_p_guarantee_date__year" class="choice-year form-control" type="text" placeholder="年" size="4" value="">
                </div>
                <div class="input-group">
                <span class="input-group-addon">月</span>
                <input name="_p_guarantee_date__month" class="choice-month form-control" type="text" placeholder="月" size="2" value="">
                </div>
                <div class="input-group">
                <span class="input-group-addon">日</span>
                <input name="_p_guarantee_date__day" class="choice-day form-control" type="text" placeholder="日" size="2" value="">
                </div>
                <button class="btn btn-success btn-block" type="submit">应用</button>
              </form>
            </div>
          </div>
        </li>
        <li class="dropdown-submenu menu-date-range"><a>日期范围</a>
          <div class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content row" style="width: 650px">
            <form method="get" action="" class="clearfix">
              <div class="ranges col-sm-3 hide-xs">
                <fieldset class="range_inputs">
                  <h4>选择日期</h4>
                  <label for="_p_guarantee_date__gte">从</label>
                  <input class="form-control start_input" type="text" name="_p_guarantee_date__gte" value="" />
                  <label for="_p_guarantee_date__lt">到</label>
                  <input class="form-control end_input" type="text" name="_p_guarantee_date__lt" value="" />
                  <button type="submit" class="btn btn-success btn-block">应用</button>
                </fieldset>
              </div>
              <div class="col-sm-9">
                <div class="calendar date-start col-sm-6" data-date=""></div>
                <div class="calendar date-end col-sm-6" data-date=""></div>
              </div>
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-block show-xs">应用</button>
              </div>
              <input type="hidden" name="_layout" value="table"/>
            </form>
            </div>
          </div>
        </li>
      </ul>
      <ul class="dropdown-menu" ng-switch-when="multiselect">
            <li class="active">
              <a href="">
                <input type="checkbox" checked="checked">
                All
              </a>
            </li>
      </ul>
    </li>
  </ul>
  </li>