<div class="btn-group">
  <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
    <i class="fa fa-list-alt"></i> 列 <span class="caret"></span>
  </a>
  <ul class="dropdown-menu model_fields pull-right" role="menu" aria-labelledby="dLabel">
    <li><a href="?_layout=table"><i class="fa fa-refresh"></i> 恢复显示列</a></li>
    <li class="divider"></li>

    <li><a href="?_layout=table&amp;_cols=id.thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description">
      <i class="fa fa-blank"></i>
      ID</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.guarantee_date.service_type.status.open_web.description">
      <i class="fa fa-check"></i>
      idc</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.idc.guarantee_date.service_type.status.open_web.description">
      <i class="fa fa-check"></i>
      name</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.nagios_name">
      <i class="fa fa-blank"></i>
      Nagios Host ID</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.ip">
      <i class="fa fa-blank"></i>
      ip</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.internal_ip">
      <i class="fa fa-blank"></i>
      internal ip</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.user">
      <i class="fa fa-blank"></i>
      user</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.password">
      <i class="fa fa-blank"></i>
      password</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.ssh_port">
      <i class="fa fa-blank"></i>
      ssh port</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.open_web.description">
      <i class="fa fa-check"></i>
      status</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.brand">
      <i class="fa fa-blank"></i>
      brand</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.model">
      <i class="fa fa-blank"></i>
      model</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.cpu">
      <i class="fa fa-blank"></i>
      cpu</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.core_num">
      <i class="fa fa-blank"></i>
      core num</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.hard_disk">
      <i class="fa fa-blank"></i>
      hard disk</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.memory">
      <i class="fa fa-blank"></i>
      memory</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.system">
      <i class="fa fa-blank"></i>
      System OS</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.system_version">
      <i class="fa fa-blank"></i>
      system version</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.system_arch">
      <i class="fa fa-blank"></i>
      system arch</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web.description.create_time">
      <i class="fa fa-blank"></i>
      create time</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.service_type.status.open_web.description">
      <i class="fa fa-check"></i>
      guarantee date</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.status.open_web.description">
      <i class="fa fa-check"></i>
      service type</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.open_web">
      <i class="fa fa-check"></i>
      description</a></li>

    <li><a href="?_layout=table&amp;_cols=thumbnail_img.name.idc.guarantee_date.service_type.status.description">
      <i class="fa fa-check"></i>
      Acts</a></li>

    <li><a href="?_layout=table&amp;_cols=name.idc.guarantee_date.service_type.status.open_web.description">
      <i class="fa fa-check"></i>
      TImg</a></li>

  </ul>
</div>