<div class="form-actions well well-sm">
  <!-- <input type="hidden" id="action" name="action" value=""> -->
  <!-- <input type="hidden" id="select-across" name="select_across"> -->
  <div class="btn-group clearfix dropup">
    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
      <i class="fa fa-wrench fa fa-white"></i>
      <span class="action-counter"></span>
      <span class="all" style="display: none;"></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a onclick="$.do_action('delete_selected');"><i class="fa fa-remove"></i>批量删除选中</a></li>
        <li><a onclick="$.do_action('change_selected');"><i class="fa fa-tasks"></i> 批量修改选中</a></li>
    </ul>
    <a ng-href="" class="btn  btn-success">保存</a>
  </div>
</div>