<div class="form-actions well well-sm">
  <!-- <input type="hidden" id="action" name="action" value=""> -->
  <!-- <input type="hidden" id="select-across" name="select_across"> -->
  <div class="btn-group clearfix dropup">
    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
      <i class="fa fa-wrench fa fa-white"></i>
      <span class="action-counter"></span>
      <span class="all" style="display: none;"></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li ng-if="!_batchActions">没有定义批量操作</li>
      <li class="with_menu_btn" ng-repeat="action in _batchActions" ng-if="_batchActions.length">
          <a action-handler="{{action.func}}">{{action.name}}</a></li>
    </ul>
    <button ng-click="saveRanklist($event)" class="btn  btn-success">保存</button>
  </div>
</div>