<div class="btn-group export">
  <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
    <i class="fa fa-share"></i> 导出 <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a ng-click="exportCSVHandler()"><i class="fa fa-circle-arrow-down"></i> 导出 CSV</a></li>
      <li><a data-toggle="modal" data-target="#export-modal-json"><i class="fa fa-circle-arrow-down"></i> 导出 JSON - (TODO)</a></li>
  </ul>

    <div id="export-modal-csv" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="get" action="">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">导出 CSV</h4>
          </div>
          <div class="modal-body">
            <input type="hidden" name="_layout" value="table"><input type="hidden" name="_do_" value="export">
            <input type="hidden" name="export_type" value="csv">
              <label class="checkbox">


                <input type="checkbox" name="export_csv_header" checked="checked" value="on"> 导出表头



              </label>
              <label class="checkbox">
                <input type="checkbox" name="all" value="on"> 导出全部数据
              </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button class="btn btn-success" type="submit"><i class="fa fa-share"></i> 导出</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->

    <div id="export-modal-json" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="get" action="">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">导出 JSON</h4>
          </div>
          <div class="modal-body">
            <input type="hidden" name="_layout" value="table"><input type="hidden" name="_do_" value="export">
            <input type="hidden" name="export_type" value="json">
              <label class="checkbox">
                <input type="checkbox" name="export_json_format" checked="checked" value="on"> 导出格式
              </label>
              <label class="checkbox">
                <input type="checkbox" name="all" value="on"> 导出全部数据
              </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button class="btn btn-success" type="submit"><i class="fa fa-share"></i> 导出</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dalog -->
    </div><!-- /.modal -->
</div>