  <!-- Header -->
  <div id="top-nav" class="navbar navbar-xs navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Wandoulabs Uni Admin</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

<li class="dropdown g-add">
  <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-plus fa fa-white"></i> <span class="hide-sm">增加 <i class="caret"></i></span></a>
  <ul id="g-add-menu" class="dropdown-menu" role="menu">
    <li ng-repeat="_add in _addes">
      <a data-action="{{_add.url}}">
        <i class="fa fa-search"></i> 增加 {{_add.name}}</a>
    </li>
    <!-- 特殊的： 用户小组件， 书签等 -->
  </ul>
</li>

  <li global-themes></li>
          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <strong>欢迎， admin</strong> <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="/account/password/"><i class="fa fa-key"></i> Change Password</a></li>
            </ul>
          </li>

        <li><a href="/logout/"><i class="show-sm fa fa-signout"></i><span class="hide-sm">注销</span></a></li>
      </ul>


<form method="get" class="top-search-form navbar-form navbar-left" id="g-search">
  <div class="input-group">
    <input name="_q_" class="form-control" type="text">
    <span class="input-group-btn">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-search"></i> 搜索 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="_search in _searches">
          <a data-action="{{_search.url}}">
            <i class="fa fa-search"></i> 搜索 {{_search.name}}</a>
        </li>
      </ul>
    </span>
  </div>
</form>


    </div>
  </div>