Boolean -->
<label for="id_comments-comment-content_type-object_pk-0-is_public" class="checkbox">
  <input checked="checked" class="checkboxinput" id="id_comments-comment-content_type-object_pk-0-is_public" name="comments-comment-content_type-object_pk-0-is_public" type="checkbox">
  Boolean
  <p id="hint_id_comments-comment-content_type-object_pk-0-is_public" class="help-block">这里展示相关 tips。</p>
</label>

<!-- NullBooleanField -->
<div id="div_id_system" class="form-group">
  <label for="id_system_0" class="control-label  requiredField">
    NullBooleanField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <label for="id_system_0" class="radio-inline">
      <input class="adminradioselect " id="id_system_0" inline="True" name="system" type="radio" value="CentOS">lixiang</label>
    <label for="id_system_1" class="radio-inline">
      <input class="adminradioselect " id="id_system_1" inline="True" name="system" type="radio" value="FreeBSD">gaohailang</label>
    <label for="id_system_2" class="radio-inline">
      <input checked="checked" class="adminradioselect " id="id_system_2" inline="True" name="system" type="radio" value="Ubuntu">ಥ_ಥ</label>
  </div>
</div>

<!-- CharField -->
<div id="div_id_name" class="form-group">
  <label for="id_name" class="control-label  requiredField">
    CharField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <input class="text-field admintextinputwidget form-control" id="id_name" maxlength="64" name="name" type="text" value="a real name name"></div>
</div>

<!-- EmailField -->
<div id="div_id_comments-comment-content_type-object_pk-0-user_email" class="form-group">
  <label for="id_comments-comment-content_type-object_pk-0-user_email" class="control-label ">EmailField</label>
  <div class="controls ">
    <input class="text-field admintextinputwidget form-control" id="id_comments-comment-content_type-object_pk-0-user_email" maxlength="75" name="comments-comment-content_type-object_pk-0-user_email" type="text"></div>
</div>

<!-- IPAddressField -->
<div id="div_id_ip" class="form-group">
  <label for="id_ip" class="control-label  requiredField">
    IPAddressField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <input class="text-field admintextinputwidget form-control" id="id_ip" name="ip" type="text" value="12.12.12.12"></div>
</div>

<!-- RegexField -->

<!-- SlugField -->

<!-- URLField -->
<div id="div_id_comments-comment-content_type-object_pk-0-user_url" class="form-group">
  <label for="id_comments-comment-content_type-object_pk-0-user_url" class="control-label ">URLField</label>
  <div class="controls ">
    <input class="url-field adminurlfieldwidget form-control" id="id_comments-comment-content_type-object_pk-0-user_url" maxlength="200" name="comments-comment-content_type-object_pk-0-user_url" type="text"></div>
</div>

<!-- Choice -->
<div id="div_id_status" class="form-group">
  <label for="id_status" class="control-label  requiredField">
    Choice
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <select class="adminselectwidget form-control selectized" id="id_status" name="status" tabindex="-1" style="display: none;">
      <option value="0" selected="selected"></option>
    </select>
    <div class="selectize-control adminselectwidget form-control single">
      <div class="selectize-input items full has-options has-items">
        <div data-value="0" class="item">Normal</div>
        <input type="text" autocomplete="off" tabindex="" style="width: 49px; opacity: 0; position: absolute; left: -10000px;"></div>
      <div class="selectize-dropdown adminselectwidget form-control single" style="display: none; visibility: visible; width: 238px; top: 34px; left: 0px;">
        <div class="selectize-dropdown-content">
          <div data-value="0" data-selectable="" class="option selected">Normal</div>
          <div data-value="1" data-selectable="" class="option">Down</div>
          <div data-value="2" data-selectable="" class="option">No Connect</div>
          <div data-value="3" data-selectable="" class="option">Error</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TypedChoice -->
<div id="div_id_idc" class="form-group">
  <label for="s2id_autogen1" class="control-label  requiredField">
    TypedChoice
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <div class="control-wrap" id="id_idc_wrap_container">
      <div class="select2-container select-search" id="s2id_id_idc">
        <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">
          <span>t1</span> <abbr class="select2-search-choice-close" style="display:none;"></abbr>
          <div> <b></b>
          </div>
        </a>
        <input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1"></div>
      <input class="select-search select2-offscreen" data-choices="?" data-label="t1" data-placeholder="搜索IDC" data-search-url="/host/idc/" id="id_idc" name="idc" type="text" value="7" tabindex="-1"></div>
  </div>
</div>

<!-- MultiChoiceField -->

<!-- TypedMultipleChoiceField -->

<!-- DateField -->
<div id="div_id_create_time" class="form-group">
  <label for="id_create_time" class="control-label  requiredField">
    DateField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <div class="input-group date bootstrap-datepicker">
      <span class="input-group-addon"> <i class="icon-calendar"></i>
      </span>
      <input class="date-field admindatewidget form-control" id="id_create_time" name="create_time" size="10" type="text" value="2014-04-23">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">今天</button>
      </span>
    </div>
  </div>
</div>

<!-- DateTimeField -->
<div id="div_id_comments-comment-content_type-object_pk-2-submit_date" class="form-group">
  <label for="id_comments-comment-content_type-object_pk-2-submit_date_0" class="control-label  requiredField">
    提交日期/时间
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <div class="datetime clearfix">
      <div class="input-group date bootstrap-datepicker">
        <span class="input-group-addon"> <i class="icon-calendar"></i>
        </span>
        <input class="date-field admindatewidget form-control" id="id_comments-comment-content_type-object_pk-2-submit_date_0" name="comments-comment-content_type-object_pk-2-submit_date_0" size="10" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">今天</button>
        </span>
      </div>
      <div class="input-group time bootstrap-timepicker">
        <div class="bootstrap-timepicker-widget dropdown-menu">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="#" data-action="incrementHour">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="incrementMinute">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="incrementSecond">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" name="hour" class="bootstrap-timepicker-hour" maxlength="2"></td>
                <td class="separator">:</td>
                <td>
                  <input type="text" name="minute" class="bootstrap-timepicker-minute" maxlength="2"></td>
                <td class="separator">:</td>
                <td>
                  <input type="text" name="second" class="bootstrap-timepicker-second" maxlength="2"></td>
              </tr>
              <tr>
                <td>
                  <a href="#" data-action="decrementHour">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
                <td class="separator"></td>
                <td>
                  <a href="#" data-action="decrementMinute">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="decrementSecond">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="input-group-addon">
          <i class="icon-time"></i>
        </span>
        <input class="time-field admintimewidget form-control" id="id_comments-comment-content_type-object_pk-2-submit_date_1" name="comments-comment-content_type-object_pk-2-submit_date_1" size="8" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">现在</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- TimeField -->
<div id="div_id_create_time" class="form-group">
  <label for="id_create_time" class="control-label  requiredField">
    DateField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
          <div class="input-group time bootstrap-timepicker">
        <div class="bootstrap-timepicker-widget dropdown-menu">
          <table>
            <tbody>
              <tr>
                <td>
                  <a href="#" data-action="incrementHour">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="incrementMinute">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="incrementSecond">
                    <i class="icon-chevron-up"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" name="hour" class="bootstrap-timepicker-hour" maxlength="2"></td>
                <td class="separator">:</td>
                <td>
                  <input type="text" name="minute" class="bootstrap-timepicker-minute" maxlength="2"></td>
                <td class="separator">:</td>
                <td>
                  <input type="text" name="second" class="bootstrap-timepicker-second" maxlength="2"></td>
              </tr>
              <tr>
                <td>
                  <a href="#" data-action="decrementHour">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
                <td class="separator"></td>
                <td>
                  <a href="#" data-action="decrementMinute">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
                <td class="separator">&nbsp;</td>
                <td>
                  <a href="#" data-action="decrementSecond">
                    <i class="icon-chevron-down"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="input-group-addon">
          <i class="icon-time"></i>
        </span>
        <input class="time-field admintimewidget form-control" id="id_comments-comment-content_type-object_pk-2-submit_date_1" name="comments-comment-content_type-object_pk-2-submit_date_1" size="8" type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">现在</button>
        </span>
      </div>
  </div>
</div>

<!-- DateRangeField -->

<!-- DateTimeRangeField -->

<!-- IntField -->
<div id="div_id_cpu" class="form-group col-sm-6">
  <label for="id_cpu" class="control-label  requiredField">
    IntField
    <span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <input class="text-field admintextinputwidget form-control" id="id_cpu" maxlength="64" name="cpu" type="text" value="3">
  </div>
</div>

<!-- NumberField -->

<!-- DecimalField -->

<!-- PercentageField -->

<!-- FloatField -->
