<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint" data-class-xs="navbar content-navbar navbar-inverse navbar-xs" data-class-sm="navbar content-navbar navbar-default navbar-xs">
            <div class="navbar-header">
                <a title="Add Widget" href="/xadmin/userwidget/add/?user=1&amp;page_id=home&amp;_redirect=/" class="navbar-toggle pull-right"></a> <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse"> Main Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <div class="navbar-btn navbar-right hide-xs">
                    <a title="Add Widget" href="/xadmin/userwidget/add/?user=1&amp;page_id=home&amp;_redirect=/" class="btn btn-primary"><span>Add Widget</span></a>
                </div>
            </div>
        </div>
        <div class="dashboard row">
            <div class="col-sm-6 column ui-sortable">
                <div class="panel panel-default widget html" id="6">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Intro Widget
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h3>
                            测试开发中
                        </h3>
                        <p>
                            目前只用使用的电子书排行榜tab下的部分功能，<br>
                            有问题请联系<a href="mailto:gaohailang@wandoujia.com">gaohailang@wandoujia.com</a>
                        </p>
                    </div>
                    <div class="modal fade widget_options" tabindex="-1" role="dialog" id="6-opts-form">
                        <div class="modal-content">
                            <form method="post" class="box-form form-horizontal short_label widget-form exform rended">
                                <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">
                                        Widget Options
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc"> <input id="id_id" name="id" type="hidden" value="6">
                                    <div id="div_id_title" class="form-group">
                                        <label for="id_title" class="control-label">Widget Title</label>
                                        <div class="controls">
                                            <input class="text-field admintextinputwidget form-control" id="id_title" name="title" type="text" value="Test Widget">
                                        </div>
                                    </div>
                                    <div id="div_id_content" class="form-group">
                                        <label for="id_content" class="control-label">Html Content</label>
                                        <div class="controls">
                                            <textarea class="textarea-field admintextareawidget form-control" cols="40" id="id_content" name="content" rows="10">&lt;h3&gt; Welcome to Xadmin! &lt;/h3&gt;&lt;p&gt;Join Online Group: &lt;br/&gt;QQ Qun : 282936295&lt;/p&gt;</textarea>
                                        </div>
                                    </div><input type="hidden" name="_delete">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger pull-left btn-remove">Remove</button> <button class="btn btn-default" data-dismiss="modal">Close</button> <input class="btn btn-primary" type="submit" value="Save changes">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade widget_options" tabindex="-1" role="dialog" id="8-opts-form">
                    <div class="modal-content">
                        <form method="post" class="box-form form-horizontal short_label widget-form exform rended">
                            <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">
                                    Widget Options
                                </h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc"> <input id="id_id3" name="id" type="hidden" value="8">
                                <div id="div_id_title3" class="form-group">
                                    <label for="id_title" class="control-label">Widget Title</label>
                                    <div class="controls">
                                        <input class="text-field admintextinputwidget form-control" id="id_title3" name="title" type="text">
                                    </div>
                                </div>
                                <div id="div_id_model2" class="form-group">
                                    <label for="id_model" class="control-label requiredField">Target Model<span class="asteriskField">*</span></label>
                                    <div class="controls">
                                        <select class="adminselectwidget form-control selectized" id="id_model2" name="model" tabindex="-1" style="display: none;">
                                            </select>
                                        <div class="selectize-control adminselectwidget form-control single">
                                            <div class="selectize-input items full has-options has-items">
                                                <div data-value="app.host" class="item">
                                                    Host
                                                </div><input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                            </div>
                                            <div class="selectize-dropdown adminselectwidget form-control single" style="display: none;">
                                                <div class="selectize-dropdown-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><input type="hidden" name="_delete">
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger pull-left btn-remove">Remove</button> <button class="btn btn-default" data-dismiss="modal">Close</button> <input class="btn btn-primary" type="submit" value="Save changes">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 column ui-sortable">
                <div class="panel panel-default widget qbutton" id="9" style="position: relative;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Quick Start
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <a href="http://www.wandoujia.com" class="btn btn-primary btn-quick" target="_blank">
                                  <i class="fa fa-laptop"></i>
                                  <p>WWW</p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <a href="http://apps.wandoujia.com" class="btn btn-primary btn-quick" target="_blank">
                                  <i class="fa fa-laptop"></i>
                                  <p>Apps</p>
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <a href="http://bbs.wandoujia.com" class="btn btn-primary btn-quick" target="_blank">
                                  <i class="fa fa-laptop"></i>
                                  <p>BBS</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade widget_options" tabindex="-1" role="dialog" id="9-opts-form">
                        <div class="modal-content">
                            <form method="post" class="box-form form-horizontal short_label widget-form exform rended">
                                <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">
                                        Widget Options
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="eJsGm5EqkUOHkEjWMU9ygoOyK4o63Foc"> <input id="id_id4" name="id" type="hidden" value="9">
                                    <div id="div_id_title4" class="form-group">
                                        <label for="id_title" class="control-label">Widget Title</label>
                                        <div class="controls">
                                            <input class="text-field admintextinputwidget form-control" id="id_title4" name="title" type="text" value="Quick Start">
                                        </div>
                                    </div><input type="hidden" name="_delete">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger pull-left btn-remove">Remove</button> <button class="btn btn-default" data-dismiss="modal">Close</button> <input class="btn btn-primary" type="submit" value="Save changes">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboard row">
            <div class="col-sm-12 column">
                <div class="panel panel-default widget html" id="6">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Blah Blah
                        </h3>
                    </div>
                    <div class="panel-body"  btf-markdown="markReadMe">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>