
<div model-list-breadcrumb></div>

<div content-navbar>
    <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
      data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
      data-class-sm="navbar content-navbar navbar-default navbar-xs">
          <div class="navbar-header">
            <a class="navbar-brand" data-toggle="collapse" data-target="#top-nav .navbar-collapse">
              {{_ctx.currentResource.val}}
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <div model-list-bookmarks></div>
              <div model-list-filter></div>
            </ul>
            <div model-list-search></div>

  <div class="navbar-btn navbar-right hide-xs">
      <a href="/host/host/add/" class="btn btn-primary"><i class="fa fa-plus fa fa-white"></i>增加 {{_ctx.currentResource.val}}</a>
  </div>
          </div>
        </div>
</div>

<div content-toolbar>
  <div class="content-toolbar btn-toolbar pull-right clearfix">
    <div model-list-intro></div>
    <div model-list-export></div>
    <!-- <div class="btn-group"><a class="btn btn-default btn-sm" href="/host/host/recover/">
      <i class="fa fa-trash"></i> 还原</a>
    </div> -->
    <div model-list-columns></div>
    <div model-list-layout></div>
  </div>
</div>

<div list-pagination>
  <ul class="pagination pagination-sm pagination-left pagination-inline">
    <li><span><span class="text-success">{{_ctx._modelData.list.length}}</span> {{_ctx.currentResource.val}}</span></li>
    </ul>
</div>

<div resource-list>
  <form id="changelist-form" action="" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="KSc9qzyeptn0v2BFCbiy60AL7iAdYHG9">

    <div class="results table-responsive">

    <table class="table table-bordered table-striped table-hover">
      <thead model-list-thead></thead>
      <tbody ng-if="_ctx.currentResource.meta.layout != 'inline-block'" model-list-tr></tbody>
    </table>
    <div ng-if="_ctx.currentResource.meta.layout == 'inline-block'" model-list-res-block></div>
    </div>
    <div model-list-actions></div>
    <div model-list-actions fixed='true'></div>
    </form>
</div>

